<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习平台后台管理</title>
    <script th:src="@{~/static/component/js/JQuery2.1.4.js}"></script>
    <link rel="stylesheet" th:href="@{~/static/component/style/components.css}">
    <script th:src="@{~/static/component/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{~/static/css/plugins.css}">
    <link rel="stylesheet" th:href="@{~/static/css/main.css}">
    <link rel="stylesheet" th:href="@{~/static/css/themes.css}">
    <link rel="stylesheet" th:href="@{~/static/css/component-tageditor.css}">
    <script th:src="@{~/static/component/plugins/laydate/laydate.js}"></script>
    <script th:src="@{~/static/component/plugins/layer/layer.js}"></script>
<!--    <script th:src="@{~/static/category/category01.js}"></script>-->
    <script th:src="@{~/static/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script th:src="@{~/static/js/jquery.tag-editor.js}"></script>
    <script th:src="@{~/static/tag/tag-init.js}"></script>
    <script th:src="@{~/static/course/course.js}"></script>


    <style>
        .chec {

        }
    </style>
</head>

<body>
    <div id="body" >
        <ol class="breadcrumb">
            <li class="active"><a href="/admin/course/list">课程管理</a></li>
<!--            <li>一级分类</li>-->
        </ol>

        <div class="barboxs">
<!--            <button class="btn btn-success pull-left" data-toggle="tooltip" title="" data-placement="right"-->
<!--                data-original-title="创建文档"><i class="fa fa-file-word-o"></i></button>-->
<!--            <button class="btn btn-warning pull-left ml10" data-toggle="tooltip" title="" data-placement="right"-->
<!--                data-original-title="下架文档"><i class="fa fa-level-down"></i></button>-->
            <button class="btn btn-danger pull-left ml10" data-toggle="tooltip" title="" id="multiDeleteBtn" data-placement="right"
                data-original-title="删除课程"><i class="fa fa-trash-o"></i></button>
            <a href="/admin/course/editCoursePage" class="btn pull-left ml10 btn-success"
               data-placement="top" id="addName" title="添加课程"><i
                    class="fa fa fa-plus"></i></a>
            <div class="leftbox">
                <div class="liselect" id="parentChildSelect">
                    <select id="parentId_select" name="val_skill" class="form-control ">
                        <option value="">一级类别</option>
                        <option th:each="parent : ${parentCategory}" th:value="${parent.categoryId}"
                                th:text="${parent.title}"
                                th:selected="${parent.categoryId}==${parentId}" value="">一级类别</option>
                    </select>
                </div>
<!--                <div class="liselect" id="ChildSelect">-->
<!--                    <select id="childId_select" name="val_skill" class="form-control ">-->
<!--                        <option value="">二级类别</option>-->
<!--                        <option th:each="parent : ${parentCategory}" th:value="${parent.categoryId}"-->
<!--                                th:text="${parent.title}"-->
<!--                                th:selected="${parent.categoryId}==${parentId}" value="">一级类别</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="ml10">-->
<!--                    <div class="input-group date input-datepicker mtb0">-->
<!--                        <input type="text" id="date" placeholder="请选择时间段"-->
<!--                            name="date" class="form-control cursorpointer" readonly="readonly">-->
<!--                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="liselect w300">
<!--                    <input type="hidden" id="parentId" th:value="${studyLineModel.parentId}">-->
                    <div class="input-group">
                        <input type="text"  id="searchCondition" class="form-control example-typeahead"
                            placeholder="请输入课程名">
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="searchBtn"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="push">
            <button class="btn btn-success pull-left"><i class="fa fa-plus"></i> 创建文章</button>
        </div> -->
        <div class="tablebox" id="tableBox" >

            <table class="table table-bordered table-hover" id="studyLineTable" >
                <thead>
                    <tr>
                        <th class="text-center" width="50"><input type="checkbox" id="checkBoxAll" name="checkBoxAll">
                        </th>
                        <th class="text-center">序号</th>
                        <th  class="text-center">课程名</th>
                        <th  class="text-center">对应类别</th>
                        <th  class="text-center">优先级</th>
                        <th class="text-center">创建时间</th>
                        <th class="text-center">更新时间</th>
                        <th class="cell-small text-center" style="width: 200px"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody th:if="${#lists.size(courseListModel.courseList) eq 0}">
                    <td class=" text-center"  colspan="8">没有对应科目</td>
                </tbody>
                <tbody>
                <tr  th:unless="${#lists.size(courseListModel.courseList) eq 0}" th:each="courseVO,obj:${courseListModel.courseList}">
                    <td class="text-center"><input type="checkbox" id="check5-td1" th:value="${courseVO.courseId}" name="check5-td1">
                    </td>
                    <td class="cell-small text-center" th:text="${(page.currPage-1)*page.pageSize+obj.count}">1</td>
                    <td class="cell-small text-center"><a  th:attr="courseId=${courseVO.courseId}"  th:text="${courseVO.courseName}">交通设施生产厂家哪家好？交通标志厂家怎么选？</a></td>
<!--                    <td class=" text-center" >-->
<!--                        <input type="text"  class="form-control form-control-tag"  th:value="${courseVO.levelName}==null? '' : ${courseVO.levelName}">-->
<!--                    </td>-->
                    <td class=" text-center" th:text="${courseVO.levelName}==null? '' : ${courseVO.levelName}"></td>
                    <td class="cell-small text-center" th:text="${courseVO.priority}"></td>
                    <td><span class="label label-success" th:text="${courseVO.createTime}">2021-03-21 23:07:31</span></td>
                    <td><span class="label label-success" th:text="${courseVO.updateTime}==null? -- : ${courseVO.updateTime}">2021-03-21 23:07:31</span></td>
                    <td class="cell-small text-center" width="50" >
                        <div class="btn-group"  >
                            <!--                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i-->
                            <!--                                        class="fa fa-info-circle"></i></a>-->
                            <!--                                <a  href="javascript:;" class="btn btn-xs btn-success" data-toggle="modal"-->
                            <!--                                    data-target="#iconModal"  th:attr="cateId=${category.categoryId},cateName=${category.title}" id="editName" title="编辑"><i-->
                            <!--                                        class="fa fa-pencil"></i></a>-->
                            <a th:href="@{/admin/course/editCoursePage?courseId={courseId}(courseId=${courseVO.courseId})}" class="btn btn-xs btn-success"
                               data-placement="top"   title="编辑"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-danger delbtn" data-toggle="tooltip"
                               data-placement="top" th:attr="courseId=${courseVO.courseId}" id="deleteLineBtn" title="删除"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div  th:replace="~{fragments/page :: page}">...</div>

        </div>

<!--        <div class="modal face" id="iconModalEdit">-->
<!--            <div class="modal-dialog modal-sm">-->
<!--                <div class="modal-content" >-->
<!--                    &lt;!&ndash; 模态框头部 &ndash;&gt;-->
<!--                    <div class="modal-header">-->
<!--                        <h3 class="modal-title">类别名</h3>-->
<!--                        &lt;!&ndash;                        <button type="button" class="close" data-dismiss="modal">&times;</button>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 模态框主体 &ndash;&gt;-->
<!--                    <div class="modal-body">-->
<!--                        <div>-->
<!--                            <form>-->
<!--                                <input type="hidden" id="editCategoryId" name="categoryId">-->
<!--                                <input type="hidden" id="editAddParentId" value="0" name="addParentId">-->
<!--                                <input type="hidden" id="editParentId" value="0" name="addParentId">-->
<!--                                <input type="hidden" id="_layer" value="0" name="addParentId">-->
<!--                                &lt;!&ndash;                                <input type="hidden" id="preParentId" th:value="${preParentId}"  name="addParentId">&ndash;&gt;-->
<!--                                <div class="inputbox">-->
<!--&lt;!&ndash;                                    <span class="title"><em style="color: red">*</em> </span>&ndash;&gt;-->
<!--                                    <div class="inputright">-->
<!--                                        <input type="text" name="title" id="editTitle" class="form-control input-sm">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <input class="submitFormInput" type="submit" style="display:none" />-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 模态框底部 &ndash;&gt;-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
<!--                        <button  type="button"  id="editSubmitBtn02" class="btn btn-outline-primary submitFormBtn" data-dismiss="modal">确认</button>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>

    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //日期范围
        laydate.render({
        elem: '#date'
        ,range: true,
        theme:"#5cb85c"
        });


    </script>
</body>

</html>
