<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习平台后台管理</title>
    <script th:src="@{~/static/component/js/JQuery2.1.4.js}"></script>
    <link rel="stylesheet" th:href="@{~/static/component/style/components.css}">
    <link rel="stylesheet" th:href="@{~/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{~/static/css/plugins.css}">
    <link rel="stylesheet" th:href="@{~/static/css/main.css}">
    <link rel="stylesheet" th:href="@{~/static/css/themes.css}">
    <script th:src="@{~/static/component/plugins/layer/layer.js}"></script>
    <script th:src="@{~/static/category/index.js}"></script>

</head>


<body>
   <div id="system">
        <header>
            <div class="left">
                <a href="">
                    <i class="gi gi-leaf"></i> 后台管理<small></small>
                </a>
            </div>
            <div class="right">
                <a href="" title="前台预览">
                    <i class="fa fa-globe"></i>
                </a>


                <a href="" title="">
                    <i class="fa " th:text="${session.login_user==null ? '--' :session.login_user.adminName}">guoyr</i>
                </a>

<!--                <a href="" title="清空缓存">-->
<!--                    <i class="fa fa-trash-o"></i>-->
<!--                </a>-->

<!--                <a href="" title="网站设置">-->
<!--                    <i class="fa fa-cog"></i>-->
<!--                </a>-->

                <a href="/admin/logout" title="退出">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </header>

        <section class="body">
            <div class="left">
                <div class="navbar">
<!--                    <dl>-->
<!--                        <dt ><a href="/admin/category/listParent" target="rightiframe"><i class="fa fa-fw fa-tachometer"></i><span>控制面板</span></a></dt>-->
<!--                    </dl>-->
                    <dl>
                        <dt class="activeTop"><i class="fa fa-fw fa-users"></i> <span>会员管理</span></dt>
                        <dd class="active">
                            <div class='li' >
                                <a href="/admin/user/listUser"  class="activelinks" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>会员列表</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><i class="fa fa-fw fa-user"></i> <span>管理列表</span></dt>
                        <dd>
                            <div class='li'>
                                <a href="/admin/listAdmin" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>管理员列表</span></a>
                            </div>
                            <div class='li'>
                                <a href="javascript:;"><i class="fa fa-fw fa-angle-right"></i><span>管理员权限</span></a>
                            </div>

                        </dd>
                    </dl>
                    <!--class="activeTop"-->
                    <dl>
                        <dt ><a href="/admin/category/listParent"  target="rightiframe"><i class="fa fa-fw fa-tachometer"></i><span>类别管理</span></a></dt>
                    </dl>
<!--                    <dl>-->
<!--                        <dt class="activeTop"><i class="fa fa-fw fa-file-word-o"></i> <span>类别管理</span></dt>-->
<!--                        <dd class="active">-->
<!--                            <div class='li'>-->
<!--                                <a href="/category/listParent" id="listParent" class="activelinks" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>一级类别</span></a>-->
<!--                            </div>-->
<!--                            <div class='li'>-->
<!--                                <a href="/category/listChild2" id="listChild2"  target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>二级类别</span></a>-->
<!--                            </div>-->
<!--                            <div class='li'>-->
<!--                                <a href="/category/listChild3" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>三级类别</span></a>-->
<!--                            </div>-->
<!--                        </dd>-->
<!--                    </dl>-->
                    <dl>
                        <dt><i class="fa fa-fw fa-reorder"></i> <span>学习路线管理</span></dt>
                        <dd id="parentCategoryMenu">
                            <div class='li' >
                                <a href="column.html" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>工学</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="/admin/course/list" target="rightiframe"><i class="fa fa-fw fa-tags"></i> <span>课程管理</span></a></dt>
<!--                        <dd id="parentCategoryMenu2">-->
<!--                            <div class='li'>-->
<!--                                <a href="keywords.html" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>关键词列表</span></a>-->
<!--                            </div>-->
<!--                        </dd>-->
                    </dl>
                    <dl>
                        <dt><i class="fa fa-fw fa-image"></i> <span>文章管理</span></dt>
                        <dd>
                            <div class='li'>
                                <a href="/admin/article/addArticle" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>上传文章</span></a>
                            </div>
                            <div class='li'>
                                <a href="/admin/article/list" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>文章列表</span></a>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="/admin/comment/list" target="rightiframe"><i class="fa fa-fw fa-tags"></i> <span>评论管理</span></a></dt>
                    </dl>


<!--                    <dl>-->
<!--                        <dt><i class="fa fa-fw fa-send"></i> <span>留言管理</span></dt>-->
<!--                        <dd >-->
<!--                            <div class='li'>-->
<!--                                <a href="message.html" target="rightiframe"><i class="fa fa-fw fa-angle-right"></i><span>留言列表</span></a>-->
<!--                            </div>-->
<!--                        </dd>-->
<!--                    </dl>-->
                </div>
            </div>
            <div class="right" >
                <iframe src="/admin/user/listUser" frameborder="0" id="rightiframe" name="rightiframe"></iframe>
            </div>
        </section>
        <div class="rightmask"></div>
   </div>

   <script>
       $('.navbar dl dt').click(function () {
            if (!$(this).siblings('dd').hasClass('active')) {
                $('.navbar dl dd').removeClass('active');
                $(this).siblings('dd').removeClass('active');
                $(this).siblings('dd').addClass('active');
            } else {
                $('.navbar dl dd').removeClass('active');
                $(this).siblings('dd').removeClass('active');
            }

            if (!$(this).hasClass('activeTop')) {
                $('.navbar dl dt').removeClass('activeTop');
                $(this).removeClass('activeTop');
                $(this).addClass('activeTop');
            } else {
                $('.navbar dl dt').removeClass('activeTop');
                $(this).removeClass('activeTop');
            }
        })

        $('.navbar .li a').click(function(){
            $('.navbar .li a').removeClass('activelinks');
            $(this).addClass('activelinks');
        })

        $('.body .left').hover(function(){
            $('.rightmask').addClass('show');
        },function(){
            $('.rightmask').removeClass('show');
        })
   </script>
</body>

</html>
